html{
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200,400,600;
    font-size: 15px;

    background-color: hsl(0, 0%, 98%);
    height: 100%;
    margin-top: 6%;

}

h1{
    font-weight: 300;
}

#mainHead{
    margin-bottom: 0px;
    
    color: hsl(229, 6%, 66%)
}

#powerdt {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
    color:hsl(234, 12%, 34%);
}

.attribution { font-size: 11px; text-align: center; }
a .attribution { color: hsl(228, 45%, 44%); }

header{

    margin-bottom: 50px;
    
}

header span {
    
    color: hsl(229, 6%, 66%)
}

.container {   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    height: 100%;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.cards-group{
    display: flex;
    flex-wrap: wrap;        
    flex-direction: row;
    padding: 0% 10%;
    gap: 2%;
    height: 100%;
    align-items: center;
    justify-content: center; 
    margin-bottom: 5%;
}

.vcardblock{
    display: flex;
    flex-wrap: wrap;        
    flex-direction: column;


}

.card {
    border-top: 3px solid;
    border-radius: 4px;
    box-shadow: 5px 10px 10px  #c9c9c9;
    width: 350px;
    height: 250px;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;

    padding-left: 2%;
    padding-right: 2%;
}

img {
    align-items: flex-end;
    object-fit: cover;
    width: 60px;
    height: 60px;
}

span{
    color: hsl(229, 6%, 66%)
}

h2 {
    color:hsl(234, 12%, 34%)
}

#supervisor{
    align-items: flex-start;
    border-top-color: hsl(180, 62%, 55%);
}

#teamBuilder{   
    border-top-color:hsl(0, 78%, 62%) ;
}

#karma{
    margin-top: 10%;
    border-top-color:hsl(34, 97%, 64%);
}

#calculator{
    border-top-color:hsl(212, 86%, 64%);
    align-items: flex-start;
    margin-left: 10px;
}

/*img positioning*/
#calculator img {
    margin-top: 3.5em;
    margin-left: 18em;
}

#karma img {
    margin-top: 3.5em;
    margin-left: 18em;
}

#teamBuilder img {
    margin-top: 3.8em;
    margin-left: 19em;
}

#supervisor img {
    margin-top: 5em;
    margin-left: 19em;
}

footer {
    
  margin-top: 3em;
  

    bottom: 0;
    width: 100%;
    
}